<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객관리</title>
    </head>
    <body>

       <div>
            <h3>고객정보 추가</h3>
       </div>
        
       <div>
            <form action="/page/reproduct" method="get">

                <input type="text" name="id" value=<%= id.value %>>
                <input type="text" name="name" value="">
                <input type="text" name="age" value="">
                <input type="text" name="mobile" value="">

                <button>추가</button>
            </form>
       </div>


    </body>
</html>