<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>고객관리 페이지</title>
</head>

<body>
    <div>
        <p>고객관리 페이지입니다.</p>
        <p>접속하신 분의 이름은 : <%= userName %> 입니다.</p>

        <button onclick="back()">돌아가기</button>
    </div>

    <div>
        <!-- 여기서는 welcome에서 보낸 form 내부의 query를 읽고 나온 userName이 들어감 ! -->
        <!-- 밑에 form에 넣기위해 일단 웹페이지 어딘가에 숨겨서 놔둠 -->
        <input type="hidden" id="userName" value="<%= userName %>">
        <input type="hidden" id="pageName" value="고객관리">
    </div>

    <script>
        // 다시 welcome으로 돌아갈 때 userName과 페이지정보를 잃지않기 위해서 다시 넣어서 보내줘야겠다
        function back() {
            console.log(`고객관리에서 back 함수 실행됨`);

            const form = document.createElement('form');
            form.setAttribute('action', '/page/welcome');
            form.setAttribute('method', 'get');

            const username = document.querySelector('#userName');
            const pagename = document.querySelector('#pageName');

            const nameData = document.createElement('input');
            nameData.setAttribute('type','hidden');
            nameData.setAttribute('name','userName');
            nameData.setAttribute('value',userName.value);
            form.appendChild(nameData);

            const pageData = document.createElement('input');
            pageData.setAttribute('type','hidden');
            pageData.setAttribute('name','page');
            pageData.setAttribute('value', pageName.value);
            form.appendChild(pageData);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>