<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>
    </head>
    <body>

       <div>
            <h3> 안녕하세요 매장관리 시스템 로그인화면입니다.</h3>
       </div>
        
       <div>
            <input type="text" id="userName"> <!-- id -->
            <input type="password" id="password"> <!-- password는 화면에서 가려서 보여줄게 -->

            <button onclick="login()"> Login </button>
       </div>


       <script>

            function login() {
                console.log(`login 함수 실행됨`);

                const form = document.createElement('form'); 
                form.setAttribute('action', '/page/welcome'); 
                form.setAttribute('method', 'get'); 

                const userName = document.querySelector('#userName'); 

                // id를 집어넣을거야
                const nameData = document.createElement('input'); 
                nameData.setAttribute('type', 'hidden'); 
                nameData.setAttribute('name','userName');
                nameData.setAttribute('value',userName.value);
                form.appendChild(nameData); 

                // welcome페이지에서 page정보가 나중에는 어차피 필요한 정보기 때문에 일단 비어있는 상태로 전달할게
                const pageData = document.createElement('input');
                pageData.setAttribute('type','hidden');
                pageData.setAttribute('name','page');
                pageData.setAttribute('value','');
                form.appendChild(pageData);

                document.body.appendChild(form);

                form.submit(); // 웹페이지를 /page/welcome으로 바꿔줘
            }

       </script>
    </body>
</html>