<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>상품관리 페이지</title>
</head>

<body>
    <div>
        <p>상품관리 페이지입니다.</p>
        <p>접속하신 분의 이름은 : <%= name %> 입니다.</p>

        <button onclick="back()">돌아가기</button>
    </div>

    <script>
        function back() {
            console.log(`상품관리에서 back 함수 실행됨`);

            const form = document.createElement('form');
            form.setAttribute('action', '/page/welcome');
            form.setAttribute('method', 'get');
            
            document.body.appendChild(form);
            form.submit();
        }

    </script>
</body>

</html>