<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>매출관리 페이지</title>
</head>

<body>
    <div>
        <p>매출관리 페이지입니다.</p>
        <p>접속하신 분의 이름은 : <%= userName %> 입니다.</p>
    </div>

    <div>
        <form action="/page/welcome" method="get">
            <input type="hidden" name="userName" value="<%= userName %>">
            <input type="hidden" name="page" value="매출관리">
        <button>돌아가기</button>
        </form>
    </div>
</body>

</html>